name: Deploy to GCP with Terraform

on:
  workflow_dispatch:

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    env:
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_region: ${{ secrets.GCP_REGION }}
      TF_VAR_domain: ${{ secrets.APP_DOMAIN }}
      TF_VAR_neon_db_url: ${{ secrets.NEON_DB_URL }}
      TF_VAR_container_image_tag: ${{ secrets.CONTAINER_IMAGE_TAG }}
      TF_VAR_github_repository: ${{ secrets.GITHUB_REPOSITORY }}
      TF_VAR_github_owner: ${{ secrets.GITHUB_OWNER }}
      TF_VAR_environment: ${{ secrets.ENVIRONMENT }}
      TF_VAR_ghcr_pat: ${{ secrets.GHCR_PAT }}
      TF_VAR_jwt_secret: ${{ secrets.JWT_SECRET }}
      TF_VAR_cookie_secret: ${{ secrets.COOKIE_SECRET }}
      TF_VAR_algolia_api_key: ${{ secrets.ALGOLIA_API_KEY }}
      TF_VAR_algolia_app_id: ${{ secrets.ALGOLIA_APP_ID }}
      TF_VAR_stripe_secret_api_key: ${{ secrets.STRIPE_SECRET_API_KEY }}
      TF_VAR_stripe_connected_accounts_webhook_secret: ${{ secrets.STRIPE_CONNECTED_ACCOUNTS_WEBHOOK_SECRET }}
      TF_VAR_resend_api_key: ${{ secrets.RESEND_API_KEY }}
      TF_VAR_resend_from_email: ${{ secrets.RESEND_FROM_EMAIL }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        workload_identity_provider: 'projects/${{ secrets.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/${{ secrets.WIP_POOL }}/providers/${{ secrets.WIP_PROVIDER }}'

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Plan
      run: terraform plan
      working-directory: ./terraform

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: ./terraform
