name: Deploy to GCP with Terraform

on:
  workflow_dispatch:
    inputs:
      deploy_environment:
        description: 'Deployment Environment'
        required: true
        default: 'production'
        type: string
      tag:
        description: 'Container Image Tag'
        required: true
        default: 'latest'
        type: string

jobs:
  terraform:
    name: 'Terraform'
    environment: production
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'read'

    env:
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_region: ${{ secrets.GCP_REGION }}
      TF_VAR_domain: ${{ vars.SITE_DOMAIN }}
      TF_VAR_neon_db_url: ${{ secrets.DATABASE_URL }}
      TF_VAR_container_image_tag: ${{ github.event.inputs.tag }}
      TF_VAR_github_repository: ${{ github.repository }}
      TF_VAR_github_owner: ${{ github.repository_owner }}
      TF_VAR_environment: ${{ github.event.inputs.deploy_environment }}
      TF_VAR_ghcr_pat: ${{ secrets.GITHUB_TOKEN}}
      TF_VAR_jwt_secret: ${{ secrets.JWT_SECRET }}
      TF_VAR_cookie_secret: ${{ secrets.COOKIE_SECRET }}
      TF_VAR_resend_api_key: ${{ secrets.RESEND_API_KEY }}
      TF_VAR_resend_from_email: ${{ vars.RESEND_FROM_EMAIL }}
      TF_VAR_medusa_publishable_key: ${{ secrets.MEDUSA_PUBLISHABLE_KEY }}
      TF_VAR_default_region: ${{ vars.DEFAULT_REGION }}
      TF_VAR_revalidate_secret: ${{ secrets.REVALIDATE_SECRET }}
      TF_VAR_site_name: ${{ vars.SITE_NAME }}
      TF_VAR_site_description: ${{ vars.SITE_DESCRIPTION }}
      TF_VAR_stripe_secret_api_key: ${{ secrets.STRIPE_SECRET_API_KEY }}
      TF_IN_AUTOMATION: true

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v2'
      with:
        token_format: 'access_token'
        project_id: '${{ secrets.GCP_PROJECT_ID }}'
        workload_identity_provider: 'projects/${{ secrets.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/${{ secrets.WIP_POOL }}/providers/${{ secrets.WIP_PROVIDER }}'
        service_account: '${{ secrets.GHA_SERVICE_ACCOUNT }}'

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init -input=false
      working-directory: ./terraform

    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false
      working-directory: ./terraform
