server {
    listen 80;
    server_name admin.${domain};
    root /var/www/admin;
    index index.html;
    location / {
        try_files $uri $uri/ /index.html;
    }
}

server {
    listen 80;
    server_name vendor.${domain};
    root /var/www/vendor;
    index index.html;
    location / {
        try_files $uri $uri/ /index.html;
    }
}
